@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica;
}


/* Remove bullets from list items and underline from the links */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

/* Header section containing logo and navbar */

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    background-color: #1F2937;
    color: white;
}

.header header {
    font-size: 24px;
    font-weight: bold;
}

.header .navbar ul {
    display: flex;
    font-size: 18px;
}

.header .navbar ul li{
    padding: 0 10px;
}

.header .navbar ul li a {
    color: #E5E7EB;
}

/* Hero section */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 50px 0;
}

.hero-section .text-container {
    width: 500px;
    height: 230px;
    margin-right: 150px;
}

.hero-section .text-container h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-section .text-container p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section .text-container button {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px 30px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 10px;
}

.hero-section .placeholder-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #667588;
    color: #E5E7EB;
    width: 600px;
    height: 230px;
}

/* Information section */

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section h1 {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-section .showcase {
    display: flex;
    gap: 50px;
}

.info-section .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.info-section .div1 .img{
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 5px;
}

.info-section .div1 p{
    text-align: center;
    padding: 5px;
}